:root {
  --main-color-one: white;
  --main-color-two: red(211, 102, 102);
  --main-color-three: green;
  --main-bg-color: black;
  --button-bg-color: rgb(70, 1, 1);
  --margin-example: 2em;
  --width-example: 6.25rem;
  --height-example: 6.25rem;
  --dysplay-example: inline-block;
}

.h1  {
  color: var(--main-color-one);
  background-color: var(--main-bg-color);
  margin: var(--margin);
  width: var(--width-example);
  height: var(--height-example);
}

.h2 {
  color: var(--main-color-two);
  background-color: var(--main-bg-color);
  margin: var(--margin);
  width: var(--width-example);
  height: var(--height-example);
  display: var(--display-example);
}
.h3 {
  color: var(--main-color-three);
  background-color: var(--main-bg-color);
  margin: var(--margin);
  width: var(--width-example);
  height: var(--height-example);
  display: var(--display-example);
}

.button {
  background-color: var(--button-bg-color);
  border: none;
  color: rgb(55, 115, 245);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: var(--display-example);
  font-size: 16px;
  cursor: pointer;
}
