$color-text: black;
$color-bg: white;


* {
  color: $color-text;
  background-color: $color-bg;
  padding: 0em  

}

h1, h2, h3 {
  margin: 0.5em ;
}

ul, li {
  background-color: #222;
  color: white;
  border: none;
  margin: 1em;
  padding: 2em 4em;
  border-radius: 8px;
}


p {
  font-size: 1.2em;
  margin: 0.5em ;
  font-family: Arial, sans-serif;
  
}

.card {
  color: red;
  border: 1px solid #aa0000;
  padding: 1em;
  margin-top: 2em;
  margin-bottom: 3em;
  margin-left: 1em;
  border-radius: 1em;
}


.button {
  background-color: #222;
  color: white;
  border: none;
  margin: 1em;
  padding: 2em 4em;
  border-radius: 8px;
  cursor: pointer;
}