$color-text: black;
$color-bg: white;

body {
  font-family: Arial, sans-serif;
  background-color: $color-bg;
  color: $color-text;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  margin: 0.5em;
}

p {
  color: black;
  font-size: 1.5em;
  margin: 1em;
}

ul,
li {
  background-color: #222;
  color: white;
  border: none;
  margin: 1em;
  padding: 2em 4em;
  border-radius: 0.5em;
  display: inline-flex;
}


.card {
  color: red;
  border: 1px solid #aa0000;
  padding: 1em;
  margin: 1em;
  border-radius: 1em;
}

.button {
  background-color: #222;
  color: white;
  border: none;
  margin: 1em;
  padding: 2em 4em;
  border-radius: 0.5em;
  cursor: pointer;
  display: inline-flex;
}
