$color-text: black;
$color-bg: white;


* {
  color: $color-text;
  background-color: $color-bg;
  padding: 0em  

}

.tarjeta {
  color: red;
  border: 1px solid #aa0000;
  padding: 1rem;
  margin-top: 2em;
  border-radius: 8px;
}

button {
  background-color: #222;
  color: white;
  border: none;
  margin: 1em;
  padding: 1em 2em;
  border-radius: 8px;
  cursor: pointer;
}